*{
    margin: 0;
    padding: 0;
}

header{
    padding: 4px;
    text-align: left;
    height: 58px;
    background-color: #027373;
    color: white;
}

.columna{
    float: left;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
}

.fila:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: #038C4C;
    color: white;
}

h1{
    line-height: 58px;
    float: left;
}

h2{
    color: #038C73;
}

.titulo{
    text-align: center;
    margin-top: 12px;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

nav{
    float: left;
    margin-left: 24px;
    margin-top: 12px;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.contenido{
    margin-top: 12px;
}